@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Fira+Sans+Condensed:ital,wght@1,300&display=swap');

body {
    font-family: 'Delius Unicase', cursive;
    background-color: #284056;
    height: 750px;
    width: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;
}


.emblemas{
    display: flex;
    gap: 20px;
}

.emblema{
    height: 100px;
    width: 100px;
}
.titulo {
    color:#D0CDBF;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.subtitulo{
    color:#D0CDBF;
    margin: 40px 0px 30px 0px;
}
.tarjetas{
    display: flex;
    gap: 10px; 
}

.tarjeta-personaje {
    height: 100x;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    padding: 15px;
    box-sizing: border-box; 
    border: 5px solid transparent;
    border-radius: 20px;
    font-size: 15px ;

    
}

#boton-personaje {
    background:transparent;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    font-family: 'Delius Unicase', cursive;
    font-size: 20px ;
    border: 1px solid white;
    color: white;
    margin-top: 60px;
}

#Encabezado-del-juego{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Escoger-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

#Escoger-ataque{
   display:flex; 
   flex-direction: column;
   align-items: center;
}
.boton-ataque{
    height: 100x;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    padding: 15px;
    box-sizing: border-box; 
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Delius Unicase', cursive;
    font-size: 15px ;

}
.botones-de-ataques{
    display: flex;
    gap: 10px; 
}

#batalla{
    display:flex; 
    flex-direction: column;
    align-items: center;
}
.mensajes-box{
    height: 100x;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 15px;
    box-sizing: border-box; 
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Delius Unicase', cursive;
    font-size: 15px ;
    margin: 40px 0px 30px 0px;

}

#resultado {
    justify-content: center;
    
}

#boton-reiniciar{
    border: none;
    background-color: transparent;
    color:#284056;
    margin: 10px 0px 20px 0px;

}

#conteo-vidas{
    display:grid;    
    grid-template-columns: 4fr 200px 2fr 200px 4fr;
    align-items: center;
    gap: 100px;
    color:beige
}

.perfil-batalla{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

#vidas-oponente, #vidas-jugador{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}


html {
    display: flex;    
    flex-direction: column;
    align-items: center;
}

input {
    display: none; /*para ocultar el circulito de input */
}

input:checked + label { /* Selector para codificar estilo cuando el input este seleccionado
    tambien existen :hover (cuando se pone el cursor encima) :active (para dejar activado un boton) */
    /*ademas con el + se asigna propiedades a un selector hermano que adquieren las caracteristicas tambien*/
    border-color: red;
    border-width: 5px;
}

@media (max-width:360px){

    .emblema{
        height: 70px;
        width: 70px;
    }
    .tarjetas{
        flex-direction: column;
    }
    .titulo {
        font-size: 30px;
    }
    
    .subtitulo{
        font-size: 20px;  
    }

    #boton-personaje {
        height: 50px;
        width: 200px;
    }

    .mensajes-box{
        height: 100x;
        width: 300px;
        font-size: 15px ;
        margin: 20px 0px 30px 0px;
    }

    .botones-de-ataques{
        display: flex;
        flex-direction: column;
    }
}